@model IEnumerable<NklLession06CF.Models.NklCategory>

@{
    ViewBag.Title = "NklIndex";
}

<h2>NklIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NklCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NklCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NklId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NklId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NklId })
        </td>
    </tr>
}

</table>
